# Allow init to write to sysfs
allow init sysfs_battery_supply:file setattr;
allow init sysfs_dm:file setattr;
allow init sysfs_graphics:file setattr;
allow init sysfs_memory:file setattr;

allow init hal_fingerprint:process ptrace;
